body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #bec664;
}

.stopwatch {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

button {
    font-size: 1.2em;
    margin: 10px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
